body {
    background-color: rgb(195, 226, 236) !important;
  }
p {
  font-family: 'Times New Roman', Times, serif;
  display: inline;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 2%;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 5%;
}
address{
  font-family: 'Times New Roman', Times, serif;
}
a {
  white-space: nowrap;
}
.imag{
  width: 640px;
  height: auto;
  padding-top: 2%;
}
.vid{
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 240px;
}
.navbar-toggler{
  cursor: pointer;
}
#sadrzaj{
  background: white none repeat scroll 0 0;
  border:  groove;
  display: table;
  padding: 20px;
  width: 400px;
  margin-top: 5%;
  margin-right: 3%;
}
.kutija{
  background-color: antiquewhite;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 2%;
  border-style:groove;
}
